body 
{
    background-color: #48D1CC;
    width: 100%;
}
.container
{
    margin-top: 10%;
}
form
{
    text-align: center;
    background-color: #E0FFFF;
	  width: 40%;
	  margin:auto;
	  padding:35px 0 15px 0;
}
label
{
    text-align: left;
	  font-size: 20px;
	  font-family: monospace;
    color: #0080ff;
}
.input
{
    width: 60%;
    border: 1px solid #ccc;
    padding: 20px 0;
    border-color: #48D1CC;
    margin-bottom: 10px;
}
#submit
{
    background-color: #00CED1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    color: white;
    border: none;
}
.error_form
{
    color : red;
}
.error_class
{
    border:1px dotted red !important;
}
