body 
{
    margin: 0%;
    width: 100%;
}
.header_div
{
    width:100%;
    height: 10%;
    background-color: #ff9900;
    text-align: right;
    margin: auto;
}
.side_div
{
    width: 10%;
    height: 100%;
    background-color: #80c9c6;
    font-style: bold;
    padding: 30px 0;
    position: fixed;
}
.side_div a
{
    color: #2e2e1f;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
}
#logout
{
    background-color: #80c9c6;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 90px;
    border: none;
    font-size: 18px;
}
.div_for_button
{
    margin-right: 10%;
}
.container
{
    margin-top: 5%;
}
form
{
    text-align: center;
    background-color: #E0FFFF;
    width: 40%;
    margin:auto;
    padding:35px 0 15px 0;
}
label
{
    text-align: left;
    font-size: 20px;
    color: #0080ff;
    font-family: monospace;
}
.input
{
    width: 60%;
    border: 1px solid #ccc;
    padding: 15px 0;
    border-color: #48D1CC;
    margin-bottom: 10px;
}
.header_div a
{
    float:right;
    color:white;
}
#submit
{
    background-color: #00CED1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    color: white;
    text-decoration: none;
    border: none;
}
.error_class
{
    border:1px dotted red !important;
}
